.list {
    max-width: 800px;
    list-style: none;
    margin: 20px auto;
    padding: 0 20px;
}

.list li + li {
    margin-top: 20px;
}

.listbox {
    border: 1px solid #ccc;
}

.link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
}

.posts {
    display: flex;
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postsDate {
    color: #aaa;
}

.postsCategory {
    border: 1px solid #0367cb;
    border-radius: .2rem;
    color: #0367cb;
    font-size: 12px;
    margin-right: .5rem;
    padding: .2rem .4rem;
}

.postsTitle {
    font-size: 25px;
    font-weight: normal;
}

.postsContent {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}